/* ==================================================================
   Setlist
   ================================================================== */

@import "styles/colors.css";
@import "styles/sizes.css";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
